@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* rgb(204, 0, 1)- red
rgb(32, 52, 105)- blue 
#e2d354- yellow
#6c7677- darkgray 
rgb(242, 242, 242)- lightgray */

:root{
  --blue: rgb(32, 52, 105);
  --yellow: #e2d354;
  --darkgray: #6c7677;
  --lightgray: rgb(242, 242, 242);
}

*{
  box-sizing: border-box;
}


body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  
}

/* First Header */
.Top-container{
  background-color: rgb(204, 0, 1);
  width: 100%;
  height: 115px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.Top-container p{
  color: white;
  font-size: 16px;
  margin: 50px 150px 70px 150px;
  text-align-last: center;
}

.Top-container a{
  color: rgb(32, 52, 105);
  margin-left: 10px;
  font-weight: 700;
}

/* End of the First Header */

.Top-container2 span{
  color: #fff;
}

.search{
  position: absolute;
  right: 80px;
  
}

.search span{
  color: #e2d354;
  padding: 0 30px;
  border-left: 1px solid;
  margin-left: 30px;
  cursor: pointer;
}


/* End of the First Header styling */

/* Second Header */

.Top-container2{
 margin-top: -27px;
 background-color: rgb(32, 52, 105);
 height: 50px;
 width: 100%; 
  display: flex;
  position: relative;
}

.Top-container2 nav {
  
  margin-left: 80px;
  
}



.nav-container1 ul li {
  float: left;
  list-style-type: none;
  margin-inline: 20px;
}

.nav-container1 a {
  color: #e2d354;
  text-decoration: none;
  font-size: 15px;
  
}

.contact{
  border-left: 1px solid #e2d354;
  padding-left: 20px;
}


/* End of the Second header */

/* Third Header */

.Top-container3 {
 width: 100%;
  height: 110px;
  display: flex;
}

.Top-container3 img {
  width: 70%;
  height: 45px;
  margin-left: 150px;
  margin-top: 30px;
  
}


.Top-container3 ul li {
  display: inline-block;
  list-style-type: none;
  
  margin-left: 20px;
}

.nav-container2{
  margin-left: 40px;
  margin-top: 45px;
}

.nav-container2 a {
  text-decoration: none;
  color: rgb(32, 52, 105);
  font-size: 17px;
}

#book{
 background-color: rgb(226, 211, 84);
  font-size: 13px;
  padding: 15px;
}

/* End of the Third header */

/* Fourth Header */
.Find-doctor {
 background-color: rgb(226, 211, 84);
  height: 100px;
  width: 100%;
 
/*   padding-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  
}

.Find-doctor h3{
 margin-right: 50px;
 font-size: 28px;
 font-weight: 400;
 color: rgb(32, 52, 105);
  
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto 15px;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  margin: auto 30px;
}

.dropdown3 {
  position: relative;
  display: inline-block;
}


.material-symbols-outlined{
  position: relative;
  right: 0;
  top: 5px;
}

.dropdown li{
  padding: 0 28px 15px 4px;
}

.dropdown li:hover{
  background-color: var(--blue);
  color: #fff;
  margin: auto;
}

.dropdown2 li{
  padding: 0 28px 15px 4px;
}

.dropdown2 li:hover{
  background-color: var(--blue);
  color: #fff;
  margin: auto;
}


.dropdown3 li{
  padding: 0 28px 15px 4px;
}

.dropdown3 li:hover{
  background-color: var(--blue);
  color: #fff;
  margin: auto;
}


.dropdown-button {
  padding: 12px 130px 12px 10px;
  background-color: #fff;
  color: var(--blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.dropdown-button2 {
  padding: 12px 80px 12px 10px;
  background-color: #fff;
  color: var(--blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;

  
}


.dropdown-button3 {
  padding: 12px 80px 12px 10px;
  background-color: #fff;
  color: var(--blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;

  
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 10px 60px 10px 0;
  width: 250px;
  height: 200px;
  
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-top: 4px;
  z-index: 1;
  overflow-x: scroll;
  list-style-type: none;
  white-space: nowrap;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 10px 60px 10px 0;
  width: 250px;
  height: 200px;
  
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-top: 4px;
  z-index: 1;
  overflow-x: scroll;
  list-style-type: none;
  white-space: nowrap;
}


.dropdown-content3{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 10px 50px 10px 0;
  width: 250px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
  overflow-x: scroll;
  list-style-type: none;
  white-space: nowrap;
}


/* .dropdown-item {
  padding: 12px 0 12px 50px;
  text-decoration: none;
  display: block;
  color: #2d3748;
  
} */


.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown2:hover .dropdown-content2{
  display: block;
}

.dropdown3:hover .dropdown-content3{
  display: block;
}



/* .dropdown-toggle:checked ~ .dropdown-content {
  display: block;
} */


.Find-doctor select, .Find-doctor input {
   padding: 10px;
  outline: none;
   border-radius: 5px;
   font-size: 16px;
   width: 200px;
   margin: 0 20px;
}

option{
  border: solid blue;
  margin: 30px;
}

/* End of the Fourth Header */

/* Hero Section */

/* .Hero-section{
  width: 100%;
  height: auto;
  position: relative;
  
} */


/* .Hero-content img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 60% 20%;
  
} */


.Hero-section{
  width: 100%;
  background-image: url('https://i.postimg.cc/5jdthKZp/cropped-tpc-home-page-hero-flu-2023.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 20%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.Hero-content{
  text-align: center;
  position: relative;
}


.Hero-section h1{
  
  color: white;
  /* position: absolute;
  top: 80px;
  bottom: 0;
  right: 0;
  left: 0; */
  font-size: 40px;
  text-align-last: center;
}

.Hero-content a{
  text-decoration: none;
  font-size: 15px;
  color: rgb(32, 52, 105);
  background-color: rgb(226, 211, 84);
  padding: 6px 8px;
}

.Hero-content2 img{
  /* margin-inline: 100px;
 position: relative;
  margin-top: -70px;
  border-radius: 50%;
  width: 130px; */
  position: relative;
  display: flex;
  margin-top: -80px;
  width: 150px;
  margin-left: 95px;
  border-radius: 50%;
}

.Hero-content2{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;

}


.Hero-content2 h3{ 
  text-align: center;
  color: var(--blue);
  font-weight: 500;
  font-size: 23px;
}

.Hero-content2 p{ 
  text-align: center;
  color: rgb(78, 83, 97);
  font-size: 17px;
  font-weight: 400;
}

/* Section 2 */
.container3{
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: auto;
  display: flex;
/*   gap: 20px;  */
  
  align-items: center;
  justify-content: space-around;
  height: 400px;
  line-height: 1.2;
}

.box1{
 background-color: #203469;
  text-align: center;
  margin-top: 30px;
  height: 300px;
  margin-right: 20px;
  width: 25%;
}

.box1 p{
  color: white;
}

.box1 img{
  width: 100%;
  height: 150px;
  
}

.box1 span{
  color: var(--yellow);
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.box1 a {
  margin-left: 10px;
  color: var(--yellow);
}

.box2{
 background-color: var(--blue);
  width: 25%;
  text-align: center;
  margin-top: 30px;
  height: 300px;
}

.box2 p{
  color: white;
}

.box2 img{
  width: 100%;
  height: 150px;
  
}

.box2 span{
  color: var(--yellow);
  
}

.box2 a {
  color: var(--yellow);
}

.box3{
 background-color: var(--blue);
  margin-left: 20px;
  text-align: center;
  margin-top: 30px;
  height: 300px;
  width: 25%;
}

.box3 p{
  color: white;
}

.box3 img{
  width: 100%;
  height: 150px;
  
}

.box3 span{
  color: var(--yellow);
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.box3 a {
  color: var(--yellow);
  margin-left: 10px;
}


/* End */

.container4{
  height: 1300px;
  width: 100%;
  background-color: var(--blue);
  margin-top: -20px;
 padding-top: 1px;
}

.container4 h1{
  color: #fff;
  display: block;
  margin-top: 40px;
  margin-left: 420px;
}

.img-container{
  margin-top: 100px;
}

.container4-img{
  
   margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1{
  position: relative;
}


.overlay-color{
  width: 260px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 7px;
  background-color: rgb(2, 2, 2);
  opacity: 1;
  display: none;
  
  
}

.container1:hover .overlay-color{
  display: block;
  opacity: 0.3;
  background-color: transparent;
  transform: scale(1.05);
}


.image1{
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}


.text-content{
  transition: 0.5s ease;
  opacity: 0;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container1:hover .image1{
 opacity: 0.2;
 transform: scale(1.05);
}

.container1:hover .text-content{
  opacity: 1;
}

.text-icon1{
  opacity: 0;
  display: block;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 20px;
  color: #fff;
}

.container1:hover .text-icon1{
  opacity: 1;
}

.text-icon2{
  opacity: 0;
  display: block;
  font-size: 13px;
  position: absolute;
  bottom: 28px;
  left: 94px;
  color: #fff;
}

.container1:hover .text-icon2{
  opacity: 1;
}

.container4-img img{
  width: 250px;
  height: 300px;
  margin-inline: 10px;
}

.container4-link{
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;

  /* margin-top: 40px;
  margin-left: 600px;
   */
}

.container4-link a{
  color: white;
  text-decoration: none;
 background-color: rgba(6, 152, 201, 0.555);
 padding: 6px 8px 6px 20px;
  font-size: 14px;
  
  
} 

.container4-link i{
  /* display: flex;
align-items: center;
justify-content: center; */
  position: relative;
  right: 10px;
}

/* End */


.container5-header h2{
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  margin-left: 550px;
  font-size: 18px;
  color: var(--blue);
  font-weight: 400;
}

.line {
  width: 170px;
  height: 2px;
  /* background: linear-gradient(to right, #ffd700, #ffa500); */
  background-color: var(--yellow);
  margin: 0 auto;
}

.container5-vid{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.container5-img{
  position: relative;
  width: 35%;
  height: auto;
  margin-inline: 20px;
  text-align: center;
}

.container5-img img{
  width: 100%;
  height: auto;
  
}

.play{
  position: absolute;
  top: 40%;
  left: 40%;
  cursor: pointer;
  width: 55px;
  height: 30px;
  border-radius: 5px;
}

.fa-youtube {
  font-size: 45px;
}


.fa-play:hover{
  color: black;
}

.small-content{
  margin-top: -50px;
  background-color: #fff;
  position: absolute;
  width: 80%;
  left: 50px;
}

.small-content h4{
  font-size: 22px;
  color: #2f4074;
  font-weight: 500;
  position: relative;
  bottom: 20px;
}

small{
  background-color: #2f4074;
  color: white;
  padding: 7px 10px;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  top: -10px;
}

.container6{
  margin-top: 100px;
}

.container6-header h2{
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  margin-left: 570px;
  font-size: 18px;
  color: var(--blue);
  font-weight: 400;
  word-spacing: 3px;
}

.line2 {
  width: 40px;
  height: 2px;
  /* background: linear-gradient(to right, #ffd700, #ffa500); */
  background-color: var(--yellow);
  position: relative;
  bottom: 30px;
  left: 170px;
}

.small-content-p{
  color: var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 150px 0 190px;
}

.small-content-p2 p{
  text-align-last: center;
}


/* End */

.container7{
  background-color: var(--blue);
 
  width: 100%;
  height: auto;
 padding-bottom: 100px;
  margin-top: 100px;
}

.container7-header h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  word-spacing: 5px;
  padding-top: 30px;
  
}

.line3 {
  width: 1000px;
  height: 1px;
  /* background: linear-gradient(to right, #ffd700, #ffa500); */
  background-color: var(--yellow);
  margin: 0 auto;
}

.container7-info h3{
  text-align: center;
  color: var(--yellow);
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  
}

.container7-info p{
  text-align: center;
  color: #fff;
  font-size: 23px;
}

.container8{
text-align: center;
  width: 100%;
  height: 350px;
  background-color: var(--lightgray);
  
}

.container8-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.main-title{
  color: var(--blue);
  margin-top: 100px;
  line-height: 0.4;
  font-weight: 400;
}

.subtitle{
  color: #808080;
}

.container8-input{
  margin-top: 20px;
}

.email-input{
 outline: none;
 border: transparent;
  padding: 12px 65px 12px 10px;
  border-radius: 4px;
  font-size: 14px;

}

.email-input:focus{
  border: 2px solid #000;
}


.signup-button{
  background-color: var(--yellow);
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  border: transparent;
}

.signup-button a{
 text-decoration: none;
 color: var(--blue);
 font-weight: 800;
}

.email-input::placeholder{
  color: #6d7c94;
  font-size: 17px;
  
  font-weight: 500;

}

.container9{
  background-color: rgb(108, 118, 119);
  color: white;
  
}

.container9-header{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.header1 span{
  margin-right: 15px;
  font-size: 20px;
  
}

.header1 a{
  margin-right: 15px;
  text-decoration: none;
  color: var(--yellow);
}

.header1{
  border-right: 1px solid #fff;
  margin-top: 70px;
}

.header2 span{
  margin-left: 15px;
  font-size: 20px;
}

.header2 a{
  margin-left: 15px;
  text-decoration: none;
  color: var(--yellow);
}

.header2{
  margin-top: 70px;
}


.line4 {
  width: 1000px;
  height: 1px;
  /* background: linear-gradient(to right, #ffd700, #ffa500); */
  background-color: #fff;
  margin: 50px auto;
}

.container9-links{
  display: flex;
  align-items: flex-start;
 justify-content: space-evenly;
}

.container9-links ul{
  padding: 0;
  margin: 0;
}

.container9-links li{
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin: 10px auto;
}

.container9-links a{
  color: var(--yellow);
  text-decoration: none;
  
}

.container9-links h3{
  font-weight: 500;
}

/* .cont-link1,
.cont-link2,
.cont-link3 {
  margin: 0 60px;
} */


.cont-link1 li{
  list-style-type: none;
}

.cont-link2 li{
  list-style-type: none;
}

.cont-link3 li{
  list-style-type: none;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.copyright p{
  margin: 70px auto;
}


.access{
  width: 50px;
  height: auto;
  background-color: var(--blue);
  border-radius: 50px;
  
}


.access img{
  width: 45px;
  height: auto;
  background-color: var(--blue);
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
}
